*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
}
.num{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    margin: 20px;
}
.try{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    margin: 10px;
}
.attempts{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
   
}
.guess{
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    margin: 10px;
    font-size: 40px;
}
.guessField{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.guessField #guessField{
 padding: 5px;

    
   
}
.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sub .guessSubmit{
    background-color: black;
    color: azure;
    padding: 10px;
    border-radius: 10px;
}
.resultPass{
    display: grid;
    align-items: center;
    justify-content: center;
   margin: 10px;
   gap: 10px;
   color: azure;
}
